<div class="container">
    <div class="row">
        <div class="col-xs">
            <span>Player <input #player (keyup.enter)="getSets(player.value)" /> </span>
            &nbsp;<button (click)="getSets(player.value)">Get Results</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3>Recent Tournament Results</h3>
            <div *ngIf="loadingResults" class="loading-icon">
                <img src="../../assets/spinning-loading.gif" />
            </div>
            <div *ngFor="let tournament of tournaments">
                <h4><a href="{{tournament.tournamentLink}}" target="_blank">{{tournament.tournamentName}}</a></h4>
                <div *ngFor="let set of tournament.tournamentSets">
                    {{set.DisplayScore}}
                </div>
                <br />
            </div>
        </div>
        <div class="col">
            <h3>Head-To-Heads</h3>
            <div *ngIf="loadingHeadToHeads" class="loading-icon">
                <img src="../../assets/spinning-loading.gif" />
            </div>
            <div *ngFor="let matchup of headToHeads">
                {{matchup[1]}} ({{matchup[2]}}W-{{matchup[3]}}L)
            </div>
        </div>
    </div>
</div>